@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --homepage-fontsize: 14px;
  --details-fontsize: 16px;
  --darkmode-elements: #2b3945;
  --darkmode-background: #202c37;
  --darkmode-text: #ffffff;
  --light-text: #111517;
  --light-input: #858585;
  --light-background: #fafafa;
  --light-elements: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* p {
  font-size: var(--homepage-fontsize);
}

.Mui-focused {
  outline: none !important;
  border: none !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .img-wrapper {
    text-align: center;
  }
  .detail-img {
    width: 95%;
  }
}

@media screen and (max-width: 780px) {
  .detail-img {
    height: 250px;
    width: 100%;
  }
}
